body{
    padding-bottom: 900px;
    background-color: whitesmoke;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma;
    text-transform: uppercase;
    text-decoration-color: white;
}

header a{
    color: blue;
    border-top: 10px;

}
nav{
    float: right;
}
li{
    display: inline-block;
}